@{
    Layout = null;

}
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="کانونی ها" />
    <meta http-equiv="content-security-policy" content="default-src *;
                  style-src * 'self' 'unsafe-inline' 'unsafe-eval';
                  script-src * 'self' 'unsafe-inline' 'unsafe-eval';" />
    <meta name="viewport" content="width=device-width, initial-scale=0.4, maximum-scale=0.4, user-scalable=no" />

    <link rel="apple-touch-icon" href="~/Content/KanooniHaWeb/images/appIcon.PNG" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/KanooniHaWeb/images/appIcon152.PNG" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/KanooniHaWeb/images/appIcon180.PNG" />
    <link rel="apple-touch-icon" sizes="167x167" href="~/Content/KanooniHaWeb/images/appIcon167.PNG" />
    <link rel="apple-touch-startup-image" href="~/Content/KanooniHaWeb/images/appSplash.PNG" />
    <script src="http://www.kanoon.ir/amoozesh/scripts/jquery-1.12.4.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/Scripts/timeSheet/userWorkList.js?id=24"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/hmac-sha256.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/enc-base64.js"></script>
    <title>کانونی‌ها</title>
    <link href="~/Content/KanooniHaWeb/css/mainStyle.css?id=10" rel="stylesheet">

</head>
<body style="background: linear-gradient(80deg, rgba(190, 123, 133, 0.45), #f3e8e7);">
    <header id="header">
        <nav id="navbar">
            <span class="menoIcon">
                <button onclick="openInsertNewWorkForm()" class="panel-link" id="menoIcon">
                    <img class="menuIcon" src="~/Content/timeSheet/image/plus.png" alt="منو">
                    <!--  <span>سلام کاربر</span>-->
                </button>
            </span>

            <span class="kanooniHa" style="    color: #f997a0;
    font-size: 4vw;
    font-weight: 700;
    margin-right: auto;
    text-align: center;
    width: 60vw;" id="mainTitle"></span>

            <button style="background-color: rgba(0,0,0,0);
    border: none;
    color: #f997a0;     font-size: 3.5vw;
    font-weight: 700;
        width: 14vw;" id="backButton">
                بازگشت
            </button>
        </nav>
        <div><button class="tabButoon" onclick="setWorkType(0)" id="notDoneWorks">انجام نشده</button><button class="tabButoon" onclick="setWorkType(1)" id="currentWorks">در حال انجام</button><button class="tabButoon" onclick="setWorkType(2)" id="doneWorks"> انجام شده</button></div>
        <div><button class="tabButoon" style="width: 100%; background-color: aliceblue; display:none;" onclick="activeDeactiveUser()" id="activeDeactiveUser">غیر فعال کردن کاربر</button></div>
    </header>
    <div id="dateContainer" style="padding: 2vw 3vw 0;">
        <span class="dateTitle">ازتاریخ: </span>
        <select name="dateList1" class="dateSelect" id="day1"></select>
        <select name="dateList1" class="dateSelect" id="mount1"></select>
        <select name="dateList1" class="dateSelect" id="year1" style="width:9vw"></select>

        <span class="dateTitle">تا تاریخ: </span>
        <select name="dateList2" class="dateSelect" id="day2"></select>
        <select name="dateList2" class="dateSelect" id="mount2"></select>
        <select name="dateList2" class="dateSelect" id="year2" style="width:9vw"></select>

        <button class="dateSelect" id="DateButton1" onclick="openUserWorkList()" style="background-color:greenyellow; margin-right: 2.5vw; color: black; font-weight: 600; float: left; width:12vw">اعمال</button>

    </div>

    <div id="main-wrapper">
        <div class="form-pop" id="WorkTitlePopUp" style="display: none;">
            <div class="form-cont" id="form-cont">
                <h3 class="popLable2" id="mWorkProjectTitle"></h3>
                <h3 class="popLable2" id="mDefinedWorkTitle"></h3>
                <h3 class="popLable2" id="mWorkTitle"></h3>
                <h3 class="popLable2" style="display:none" id="mWorkComment"></h3>
                <button class="btn cancel" onclick="closeNewWorkForm()" id="formButtonC1" style="margin: 2% 0%;">بستن</button>
            </div>
        </div>
        <div class="form-pop" id="startNewWorkPopUp" style="display: none;">
            <div class="form-cont" id="form-cont">
                <h1 class="popLable1" id="setStartWorkLabel"></h1>
                <h3 class="popLable2" id="sWorkProjectTitle"></h3>
                <h3 class="popLable2" id="sDefinedWorkTitle"></h3>
                <h3 class="popLable2" id="sWorkTitle"></h3>

                @*<input type="text" id="newWorkTitle" class="description" placeholder="توضیحات" />*@
                <button type="submit" class="btn" onclick="StartWork()" id="formButton2" style="margin: 2% 0%;">ثبت</button>
                <button class="btn cancel" onclick="closeNewWorkForm()" id="formButtonC2" style="margin: 2% 0%;">بستن</button>
            </div>
        </div>

        <div class="form-pop" id="finishWorkPopUp" style="display: none;">
            <div class="form-cont" id="form-cont">
                <h1 class="popLable1" id="setFinishWorkLabel"></h1>
                <h3 class="popLable2" id="fWorkProjectTitle"></h3>
                <h3 class="popLable2" id="fDefinedWorkTitle"></h3>
                <h3 class="popLable2" id="fWorkTitle"></h3>
                <input type="text" id="finishWorkComment" class="description" placeholder="توضیحات" />
                <button type="submit" class="btn" onclick="finishWork()" id="formButton3" style="margin: 2% 0%;">ثبت</button>
                <button class="btn cancel" onclick="closeNewWorkForm()" id="formButtonC3" style="margin: 2% 0%;">بستن</button>
            </div>
        </div>

        @*admin*@

        <div class="form-pop" id="insertNewWorkPopUp" style="display: none;">
            <div class="form-cont" id="form-cont">
                <h1 class="popLable1" id="setNewWorkLabel"></h1>
                <select name="projectForAdmin" class="form-select" id="projectForAdmin" style=" height: inherit; padding: 5px; margin-bottom: 0;"></select>
                <select name="DefinedWorkForAdmin" class="form-select" id="DefinedWorkForAdmin" style=" height: inherit; padding: 5px; margin-bottom: 0;"></select>
                <select name="finishPredictDateList" class="form-select" id="finishPredictDateList" style=" height: inherit; padding: 5px; margin-bottom: 10px; margin-top: 10px;"></select>

                <input type="text" id="newWorkTitle" class="description" placeholder="توضیحات" />
                <button type="submit" class="btn" onclick="insertNewWorkTitle()" id="formButton4" style="margin: 2% 0%;">ثبت</button>
                <button class="btn cancel" onclick="closeNewWorkForm()" id="formButtonC4" style="margin: 2% 0%;">بستن</button>
            </div>
        </div>

        <div class="form-wrapper" id="users">
            <ul id="userList1" class="CreditList" style="width:18vw; display:none">
            </ul>
            <ul id="userList" class="CreditList" style="padding:0 0.6vw;">
            </ul>
        </div>
        <div class="form-wrapper" id="users">
        </div>

        <div class="form-pop" id="setTimePopUp" style="display: none;">
            <div class="form-cont" id="form-cont">
                <h1 class="popLable1" id="setLabel"></h1>
                <input type="text" id="description" class="description" placeholder="توضیحات" />
                <button type="submit" class="btn" onclick="setTime()" id="formButton" style="margin: 2% 0%;">ثبت</button>
                <button class="btn cancel" onclick="closeForm()" id="formButtonC" style="margin: 2% 0%;">بستن</button>
            </div>
        </div>
    </div>
    <div id="loading" class="loaderBack"> <div class="loader"></div></div>

    <script>


    </script>
    <style>
        .tabButoon {
            width: 33.33%;
            text-align: center;
            border-color: #f997a0;
            border-width: 2px;
            border-style: solid;
            padding: 3vw;
            background-color: rgba(255,255,0,0.1);
        }

        .dateSelect {
            height: 10vw;
            width: 7.83vw;
            min-width: 7.83vw;
            padding: 0;
            margin-right: 0;
            margin-top: 3vw;
            font-size: 3vw;
            font-weight: 500;
            border: none;
            border-radius: 2vw;
            background-color: antiquewhite;
            box-shadow: 0 25px 40px -22px #3c4a56;
        }

        .dateTitle {
            height: 10vw;
            width: 20vw;
            min-width: 200px;
            padding: 2vw 0;
            margin-right: 2.5vw;
            margin-top: 3vw;
            font-size: 3vw;
            font-weight: 600;
            border: none;
        }

        .UItem {
            width: 100%;
            background-color: white;
            border-radius: 1vw;
            padding: 2vw 2vw 2vw 2vw;
            margin: 1vw;
            line-height: 1.5;
            align-items: center;
            font-size: 3vw;
            min-height: 15vw;
        }

        .listItems {
            float: right;
            text-align: center;
            width: 20vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }


        .listItems0 {
            float: right;
            text-align: right;
            width: 20vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #main-wrapper {
            display: block;
            margin-top: 5vw;
        }


        .form-wrapper {
            width: 100%;
            max-width: 92vw;
        }

        .form-input {
            margin: auto;
            height: 100vw;
            width: 70vw;
            background-color: #daf3c2;
            font-weight: 400;
            font-size: 45px;
            border: none;
            border-radius: 50vw;
            padding: 10vw;
            box-shadow: 0 25px 40px -22px #3c4a56;
        }


        #navbar .menuUserPic {
            width: 20vw;
            height: 20vw;
            border-radius: 50%;
        }

        .userName {
            font-size: 5vw;
            font-weight: 600;
            color: white;
            text-align: center;
            display: block;
            margin: 4vw 8px 0;
        }

        .stopwatch {
            font-size: 4vw;
            text-align: center;
        }



        .form-pop {
            margin: auto;
            width: 100%;
            display: none;
            position: absolute;
            z-index: 99999;
        }

        .form-cont {
            width: 65vw;
            margin: auto;
            padding: 3vw;
            background-color: white;
            border-radius: 40px;
        }

        .popLable1 {
            font-size: 5vw;
            text-align: center;
            color: #e54d60;
            line-height: 1.5em;
            margin: 2vw
        }

        .popLable2 {
            font-size: 4vw;
            text-align: center;
            color: black;
            line-height: 1.5em;
            margin: 2vw
        }

        .form-cont .btn {
            background-color: #74e804;
            color: black;
            padding: 2vw;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 2vw;
            opacity: 0.8;
            font-weight: 600;
        }

        .form-cont .cancel {
            background-color: #e54d60;
        }

        .description {
            width: 100%;
            height: 25vw;
            border-color: #e54d60;
            border-width: 1vw;
            border-radius: 50px;
            font-size: 3vw;
            padding: 1vw;
        }




        .btn {
            background-color: green;
            color: white;
            padding: 4%;
            border-radius: 7px;
            margin: 3% 14%;
        }

        .cancel {
            background-color: orangered;
        }

        button {
            border: none;
            text-decoration: none;
            color: #f997a0;
            font-weight: normal;
            font-size: 45px;
            background-color: rgba(0,0,0,0);
        }


        .predictdate {
            width: 100%;
            background-color: #a281c38c;
            color: white;
            padding: 4%;
            border-radius: 7px;
            font-size: 4vw;
            text-align: center;
        }

        .finishButton {
            border: none;
            margin-top: 1vw;
            text-decoration: none;
            color: black;
            font-weight: normal;
            font-size: 3.5vw;
            padding: 2vw;
            border-radius: 2vw;
            background-color: #f7092a69;
        }


        .startButton {
            border: none;
            margin-top: 1vw;
            text-decoration: none;
            color: black;
            font-weight: normal;
            font-size: 3.5vw;
            padding: 2vw;
            border-radius: 2vw;
            background-color: #09f768a6;
        }
    </style>
</body>
</html>